:root {
  --color-main: #000;
  --color-accent: #ff00c8;
  --container-width: 1400px;
  --container-paddings: 20px;
  --bg-white: #fff;
  --bg-dark: #1c1c1c;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

p {
  margin-top: 0;
  margin-bottom: 15px;
}